# Ignore data directory
data/

# Ignore specific config files
config/db_config.json
config/gcs_config.json

# Ignore Airflow logs
airflow/logs/

# Ignore Python cache
__pycache__/

# Ignore environment variables
config/.env

# Ignore postgres variables
staging-pipeline/.env

# Ignore GCS creds
config/gcs_service_account.json